.contact {  /* contact */
    position: absolute;
    left: 90%;
    top: 8%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 170;
    color: #f7f7f7;
    text-decoration: none;
    z-index: 1;
  }
  
  .contactBox {
    width: 125px;
    height: 70px;
    left: 88.9%;
    top: 5.7%;
    position: absolute;
    opacity: 0;
    background-color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  
  .contactBox:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  


  
  .github { /* github */
    position: absolute;
    left: 70%;
    top: 8%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 170;
    color: #f7f7f7;
    text-decoration: none;
    z-index: 1;
  }
  
  .githubBox {
    width: 125px;
    height: 70px;
    left: 68.6%;
    top: 5.7%;
    position: absolute;
    opacity: 0;
    background-color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  .githubBox:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }




  .photos { /* github */
    position: absolute;
    left: 80%;
    top: 8%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 170;
    color: #f7f7f7;
    text-decoration: none;
    z-index: 1;
  }
  
  .photosBox {
    width: 125px;
    height: 70px;
    left: 78.6%;
    top: 5.7%;
    position: absolute;
    opacity: 0;
    background-color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  
  .photosBox:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
  
  
   .readMore { /* readmore */
    position: absolute;
    left: 12.3%;
    top: 8%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 170;
    color: #f7f7f7;
    text-decoration: none;
    z-index: 1;
  }
  
  .readMoreBox {
    width: 150px;
    height: 70px;
    left: 11.3%;
    top: 5.7%;
    position: absolute;
    opacity: 0;
    background-color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  
   .readMoreBox:hover {
     opacity: 0.3;
     transition: opacity 0.3s ease-in-out;
   }