

/* paragraph styling. Used in: 
    Information about education
*/

p {
    font-family: 'San Francisco thin';
    letter-spacing: 3px;
    left: 25%;
    color: #000000;
}


/* header styling (Education) */
header {
    font-family: 'San Francisco thic';
    letter-spacing: 0px;
    font-size: 50px;
    font-weight: lighter;
    color: #000000;
    position: relative;
    top: 15%;
    left: 10%;
}

h7 {
    font-family: 'San Francisco thic';
    letter-spacing: 0px;
    font-size: 50px;
    font-weight: lighter;
    color: #ffffff;
    position: relative;
    top: 15%;
    left: 10%;
}

h8 {
    font-family: 'San Francisco thin';
    letter-spacing: 3px;
    left: 10%;
    color: #ffffff;
}



